<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"><html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Courses</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
<!--    <a class="navbar-brand" href="#">Chart Development System</a>-->

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
        </ul>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"><strong> CREATE CHART </strong></h1>
            <div class = "card-body">
                <form th:action = "@{/query}" th:object = "${options}" method = "POST">

                    <p><strong>SELECT CHART TYPE :</strong>
                    <div class="selector-item" th:each="chart, iter : ${charts}" >
                        <input type="radio" th:id="radio+${iter.index}" th:field="*{chart}" class="selector-item_radio" name="chartType" th:value="${chart}" required th:checked="${iter.index} == 0" />
                        <label th:for="radio+${iter.index}" class="selector-item_label" th:text="${chart}"></label>
                    </div></p>

                    <p><strong>SELECT CHART METRIC(S) :</strong>
                    <select class="form-select" th:field="*{indicator}">
                        <option th:each="indicator: ${indicators}" th:text="${indicator.clean_name}" th:value = "${indicator.name}">
                    </select></p>


                    <p><strong>SELECT COUNTRY/IES :</strong></p>
                    <select class="form-select" th:field="*{country}" multiple="multiple" required="required">
                        <option th:each="country: ${countries}" th:text="${country.name}" th:value = "${country.code}">
                    </select></p>

                    <p><strong>SELECT Y TYPE :</strong></p>
                    <div th:each="item : ${yearType}">
                        <input type="radio" th:field="*{yearType}" th:value="${item}"/>
                        <label th:for="${item}" th:text="${item}"></label>
                    </div>


                    <div id="div1" class="form-group">
                        <strong><label for="startYear">FROM YEAR</label></strong>
                        <input type="number" min="1950" max="2050" class="form-control" id="startYear" th:field="*{startYear}" required>
                    </div>

                    <div id="div2" class="form-group">
                        <strong><label for="endYear">UNTIL YEAR</label></strong>
                        <input type="number" min="1950" max="2050" class="form-control" id="endYear" th:field="*{endYear}" required>
                    </div>

                    <br>
                    <div class = "box-footer">
                        <button type = "submit" class = "btn btn-primary">
                            EXPORT CHART
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>